@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background: #1f242d; */
     background: linear-gradient(135deg, rgb(184, 110, 19), rgb(186, 112, 21));  

    /* background: #0f0f0f; */
    /* background: linear-gradient(135deg , rgb(255,215,128), rgb(255,170,60));  */
    color: #fff;
    overflow-x: hidden; /*: If content is too wide, hides the horizontal scrollbar*/

}

h2 {
    color: #000000;
}

h3 {
    color:#000000;
    text-align: center;
}

 
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 9%;
    /* background: #1f242d; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

/* Nector forge  */

.logo {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
} 

nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}  

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px 9% 0;
}

.home h1 {
    font-size: 150px;
    color: transparent;
    text-shadow: 0 0 10px #ffe600;
    -webkit-text-stroke: 2px #000000;
    text-align: center;
}

.about {
    justify-content: flex-end;
}

.about .about-content {
    width: 50%;
}

.about-content h2 {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 15px;
}

.about-content a {
    display: inline-block;
    padding: 12px 40px;
    background: #c6951b;
    border-radius: 40px;
    box-shadow: 0 0 10px #c6951b;
    color: #000000;
    text-decoration: none;
    margin-top: 20px;
}

.about-content {
    color: #000000;
}

.gallery-content {
    display: flex;
    gap: 100px;
}

.gallery-content .outer {
    width: 300px;
    height: 400px;
    padding: 10px;
    border-radius: 26px;
    border: 2px solid #000000;
}

.gallery-content .inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: 2px solid #000000;
}

.gallery-content .inner img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    object-fit: cover;
}

.contact-form {
    width: 600px;

}

/* to change settings of placeholder in page end form */
.contact-form ::placeholder {
    color: #000000; /* honey-gold */
    opacity: 1;     /* makes it fully visible */
}


.contact-form h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    background: transparent;
    border-radius: 8px;
    border: 2px solid #000000;
    outline: none;
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}

.contact-form textarea {
    height: 300px;
    resize: none;
}

.contact-form button {
    display: block;
    padding: 12px 40px;
    background: #c6951b;
    border-radius: 40px;
    border: none;
    box-shadow: 0 0 10px #c6951b;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    margin: 0 auto;
}

#bee-model {
    /* model stays in place during scrolling */
    position: fixed; 
    /* model covers whole screen */
    width: 100% ;
    height: 100% ;
    /* model doesnot interfere with other elements on page*/
    pointer-events: none;
    /* model to hover above all elements */
    z-index: 100;
    /* model smooth transition effect */
    transition: transform 1s ease-out;

}




